# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual env
venv/
.venv/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Data/model besar (pilih sesuai kebutuhan)
data/models/*.joblib
data/prototypes/**/*.npy

# Build artifacts
*.egg-info/
dist/
build/
